<!--
INF601 - Advanced Programming in Python
Austin Gray
Final Project
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <script>
        function displayInvalidPasswordMessage() {
            var password = document.getElementById("password").value;
            var username = document.getElementById("username").value;

            if ((username === "Oni" && password !== "Urza") || (username === "Nyx" && password !== "Chandra")) {
                alert('Invalid Password');
                return false; // Prevent form submission
            }
        }
    </script>
</head>
<body>
    <div class="login-container">
        <h1>Login</h1>
        <form method="POST" action="/login" onsubmit="return displayInvalidPasswordMessage()">
            <label for="username">Username:</label>
            <select name="username" id="username">
                <option value="Oni">Oni</option>
                <option value="Nyx">Nyx</option>
            </select><br><br>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password"><br><br>
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>
