<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oni's Database</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='databasePage.css') }}">
</head>
<body>
    <div class="login-container">
        <h1>Oni's Collection</h1>
        <div class="btn-container">
            <form method="POST" action="/delete_cards/oni" class="btn-container" id="deleteForm">
                <!-- Hidden input to capture row[1] of database & Delete Cards button -->
                <button class="delete-btn" onclick="setDatabaseIdAndSubmit()" type="button">Delete Cards</button>

                <!-- Add Card(s) button -->
                <input class="add-btn" type="button" onclick="openSubWindow()" value="Add Card(s)">

                <!-- Download Template to add cards button-->
                <input class="download-template-btn" type="button" onclick="downloadTemplate()" value="Download Template">
            </form>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Select</th>
                    <th>Database ID</th>
                    <th>Card Name</th>
                    <th>Foiling</th>
                    <th>Price</th>
                    <th>Type</th>
                    <th>CMC</th>
                    <th>Set Name</th>
                    <th>Color Identity</th>
                    <th>Set Code</th>
                    <th>Col Num</th>
                    <th>Lang Code</th>
                    <th>TCG ID</th>
                    <th>PNG URL</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    <td><input type="checkbox" name="selected_rows" value="{{ row[0] }}"></td>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[5] }}</td>
                    <td>{{ row[6] }}</td>
                    <td>{{ row[7] }}</td>
                    <td>{{ row[8] }}</td>
                    <td>{{ row[9] }}</td>
                    <td>{{ row[10] }}</td>
                    <td>{{ row[11] }}</td>
                    <td>{{ row[12] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- Logout button -->
        <form method="POST" action="/logout">
            <input class="logout-btn" type="submit" value="Logout">
        </form>
    </div>
    <script src="{{ url_for('static', filename='databasePage.js') }}"></script>
</body>
</html>