<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oni's Database</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='databasePage.css') }}">
</head>
<body>
    <div class="login-container">
        <h1>Oni's Collection</h1>
        <div class="search-btn-container">
        <!-- Table Buttons -->
            <div class="btn-container">
                <form method="POST" action="/delete_cards/oni" class="btn-container" id="deleteForm">
                    <!-- Hidden input to capture row[1] of database & Delete Cards button -->
                    <button class="delete-btn" onclick="setDatabaseIdAndSubmit()" type="button">Delete Cards</button>

                    <!-- Add Card(s) button -->
                    <button class="add-btn" onclick="openSubWindow('/add_cards/oni')" type="button"> Add Card(s)</button>

                    <!-- Download Template to add cards button-->
                    <button class="download-template-btn" onclick="downloadTemplate()" type="button">Download Template</button>
                </form>
            </div>

        <!-- Search bar -->
            <div class="search-container">
                <input type="text" id="searchInput" class="search-bar" placeholder="Search...">
            </div>

        </div>
        <table id="dataTable">
            <thead class="header">
                <tr>
                    <th>Select <span id="sortIcon0" class="arrow-icon"></span></th>
                    <th onclick="sortTable(1)">Database ID <span id="sortIcon1" class="arrow-icon"></span></th>
                    <th onclick="sortTable(2)">Card Name <span id="sortIcon2" class="arrow-icon"></span></th>
                    <th onclick="sortTable(3)">Foiling <span id="sortIcon3" class="arrow-icon"></span></th>
                    <th onclick="sortTable(4)">Price <span id="sortIcon4" class="arrow-icon"></span></th>
                    <th onclick="sortTable(5)">Type <span id="sortIcon5" class="arrow-icon"></span></th>
                    <th>CMC <span id="sortIcon6" class="arrow-icon"></span></th>
                    <th onclick="sortTable(7)">Set Name <span id="sortIcon7" class="arrow-icon"></span></th>
                    <th onclick="sortTable(8)">Color Identity <span id="sortIcon8" class="arrow-icon"></span></th>
                    <th onclick="sortTable(9)">Set Code <span id="sortIcon9" class="arrow-icon"></span></th>
                    <th onclick="sortTable(10)">Collector Number <span id="sortIcon10" class="arrow-icon"></span></th>
                    <th onclick="sortTable(11)">Language Code <span id="sortIcon11" class="arrow-icon"></span></th>
                    <th onclick="sortTable(12)">TCG ID <span id="sortIcon12" class="arrow-icon"></span></th>
                    <th>Card Photo URL <span id="sortIcon13" class="arrow-icon"></th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    <td><input type="checkbox" name="selected_rows" value="{{ row[0] }}"></td>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[5] }}</td>
                    <td>{{ row[6] }}</td>
                    <td>{{ row[7] }}</td>
                    <td>{{ row[8] }}</td>
                    <td>{{ row[9] }}</td>
                    <td>{{ row[10] }}</td>
                    <td>{{ row[11] }}</td>
                    <td><a href="{{ row[12] }}" target="_blank" class="card-view-link">View Card</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Download CSV Button-->
        <button class="download-csv-btn">Download CSV</button>
        <!-- Logout button -->
        <form method="POST" action="/logout">
            <input class="logout-btn" type="submit" value="Logout">
        </form>

    </div>
    <script src="{{ url_for('static', filename='database.js') }}"></script>
    <script src="{{ url_for('static', filename='sortingScript.js') }}"></script>
</body>
</html>